<app-header title = "progress - Range"></app-header>


<ion-content [fullscreen]="true" class="ion-padding">


  <ion-progress-bar type="determinate" [value]="porcent" buffer="0.5" reversed="false" color="tertiary" style="margin-bottom: 25px;"></ion-progress-bar>


  <ion-list>
    <ion-item class="ion-padding">
      <ion-label>Move to change the progress</ion-label>
    </ion-item>
    <ion-item class="ion-padding">
      <ion-range
        min="0" max="100"
        dualKnobs="true" pin="true"
        snaps="true"
        ticks="false" value="0"
        color="primary"
        (ionChange) = "rangeChange( $event )"
      >

      <ion-icon slot="start" name="sunny" size="small"></ion-icon>
      <ion-icon slot="end" name="sunny" ></ion-icon>

    </ion-range>
    </ion-item>
  </ion-list>

</ion-content>
