
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="account">
      <ion-icon  name="person-outline"></ion-icon>
      <ion-label>Avatar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon  name="reorder-three-outline"></ion-icon>
      <ion-label>List Reorder</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon  name="infinite-outline"></ion-icon>
      <ion-label>Infinite Scroll</ion-label>

    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
