<app-header title = 'Cards'></app-header>



<ion-content [fullscreen]="true">
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline" ></ion-icon>
      <ion-label >Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo sequi nihil deleniti nemo eveniet quaerat, dolorum aperiam iure officiis exercitationem, inventore necessitatibus ea molestias tempore esse expedita facilis omnis at.
    </ion-card-content>
  </ion-card>


  <ion-card mode="ios">
    <ion-img src="/assets/twd.jpg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo sequi nihil deleniti nemo eveniet quaerat, dolorum aperiam iure officiis exercitationem, inventore necessitatibus ea molestias tempore esse expedita facilis omnis at.
    </ion-card-content>
  </ion-card>
</ion-content>
