

<ion-content [fullscreen]="true" >



  <swiper-container pagination="true" class="slide-full" class="ion-padding" loop="true">

    <swiper-slide *ngFor="let slide of slides">
       <ion-card>
         <ion-card-header>

           <img [src]="slide.img" class="slide-image"/>
           <ion-card-subtitle>
            <h3> {{ slide.titulo }} </h3>
           </ion-card-subtitle>
           <ion-card-content>
            <h5>{{ slide.desc}}</h5>
           </ion-card-content>
        </ion-card-header>
       </ion-card>

    </swiper-slide>
    <swiper-slide>
      <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
        <h2>Volver al inicio</h2>
      </ion-button>
    </swiper-slide>

  </swiper-container>

</ion-content>
